<meta charset="utf-8" />
<script src="https://code.jquery.com/jquery-3.3.1.js" type="text/javascript"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="text/javascript"></script>
<script src="../js/usersController.js" type="text/javascript"></script>